body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0);
  color: rgb(29, 22, 22);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
}
#container {
  position: relative;
  width: 4000px;
  height: 1440px;
}
#section1 {
  position: absolute;
  top: 50%;
  width: 1200px;
}
#section2 {
  position: absolute;
  top: 50%;
  left: 34%;
  width: 1200px;
}
#section3 {
  position: absolute;
  top: 50%;
  left: 68%;
  width: 1200px;
}
#birdAppear1 {
  position: absolute;
  opacity: 0;
  margin-left: 50%;
}
#birdAppear2 {
  position: absolute;
  opacity: 0;
  margin-left: 50%;
}
#birdAppear3 {
  position: absolute;
  opacity: 0;
  margin-left: 50%;
}
#birdThrow1 {
  position: absolute;
  opacity: 0;
  margin-left: 50%;
}
#birdThrow2 {
  position: absolute;
  opacity: 0;
  margin-left: 50%;
}
#birdThrow3 {
  position: absolute;
  opacity: 0;
  margin-left: 50%;
}

/*-------------------------------------------------------------   
First we need to create our container for later reference
-------------------------------------------------------------*/
.box {
  position: absolute;
  width: 50px;
  margin-top: 1.3%;
  margin-left: 54%;
  text-align: center;
  line-height: 5;
}
.box2 {
  position: absolute;
  width: 50px;
  margin-top: 1.3%;
  margin-left: 54%;
  text-align: center;
  line-height: 5;
}
.box3 {
  position: absolute;
  width: 50px;
  margin-top: 1.3%;
  margin-left: 54%;
  text-align: center;
  line-height: 5;
}

/*---------------------------------------------------------------------------
The box-wrapper is our container. This is where we nail our box together. 
  -set this to relative position for child elements to reference to.
  -transform-style is set to preserve-3d because I wanted to keep the look as the text turns with the box.. 
---------------------------------------------------------------------------*/

.box-wrapper {
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.box-wrapper2 {
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
.box-wrapper3 {
  position: relative;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
}
/*-------------------------------------------------------------------------
Giving box it's dimensions
-------------------------------------------------------------------------*/
.box-wrapper div {
  width: 52px;
  height: 52px;
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
}
.box-wrapper2 div {
  width: 52px;
  height: 52px;
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
}
.box-wrapper3 div {
  width: 52px;
  height: 52px;
  position: absolute;
  border: 2px solid black;
  border-radius: 5px;
}
/*----------------------------------------------------------------------
These are our cube's 6 sides, using translate to make it whole. 
-----------------------------------------------------------------------*/
.front {
  transform: translateZ(27px) rotateY(0deg);
}
.back {
  transform: translateZ(-27px) rotateY(180deg);
}
.top {
  transform: translateY(-27px) rotateX(90deg);
}
.bottom {
  transform: translateY(27px) rotateX(-90deg);
}

.right {
  transform: translateX(27px) rotateY(90deg);
}
.left {
  transform: translateX(-27px) rotateY(270deg);
}

/*-----------------------------------------------------------------------
Wrapper for css cube
-------------------------------------------------------------------------*/

.box .box-wrapper {
  transform: rotateX(-30deg) rotateY(-40deg);
}
.box .box-wrapper div {
  background-color: yellow;
}
.box2 .box-wrapper2 {
  transform: rotateX(-30deg) rotateY(-40deg);
}
.box2 .box-wrapper2 div {
  background-color: yellow;
}
.box3 .box-wrapper3 {
  transform: rotateX(-30deg) rotateY(-40deg);
}
.box3 .box-wrapper3 div {
  background-color: yellow;
}
.icons {
  position: absolute;
  margin-left: 37%;
  margin-top: -7%;
  z-index: 1;
}
.icon {
  opacity: 0;
  width: 15vh;
  height: 15vh;
}
.textPos {
  position: absolute;
  margin-left: 37%;
  margin-top: -10%;
}
.text {
  display: inline-block;
  opacity: 0;
  width: 16vh;
  height: 20vh;
}
.icons2 {
  position: absolute;
  margin-left: 40%;
  margin-top: -7%;
  z-index: 1;
}
.iconv2 {
  opacity: 0;
  width: 15vh;
  height: 15vh;
}
.textPos2 {
  position: absolute;
  margin-left: 37%;
  margin-top: -61%;
}
.textv2 {
  display: inline-block;
  opacity: 0;
  width: 20vh;
  height: 20vh;
}
.icons3 {
  position: absolute;
  margin-left: 37%;
  margin-top: -7%;
  z-index: 1;
}
.iconv3 {
  opacity: 0;
  width: 15vh;
  height: 15vh;
}
.textPos3 {
  position: absolute;
  margin-left: 37%;
  margin-top: -61%;
}
.textv3 {
  display: inline-block;
  opacity: 0;
  width: 20vh;
  height: 20vh;
}
